<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <!-- File target -->
    <target xsi:type="File" name="fileTarget"
            fileName="Logs\PlatformInventory-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}"
            archiveFileName="Logs\archives\PlatformInventory-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />
    
    <!-- Console target -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${time} ${level:uppercase=true}: ${message} ${exception:format=tostring}" />
  </targets>
  
  <rules>
    <!-- All logs go to file -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    
    <!-- Info and above go to console -->
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>